#slider{
  position: relative;
  overflow: hidden;
 }
 .slider--tray {
   width: 100%;
   position: relative;
   transition: all 0.5s ease-out;
 }
 
 .slider--main {
 }
 .slider--img {
   flex: 1 0 100%;
 }
 .slider--img img{
   width: 100%;
 }
 
 .slider--dot{
   bottom: 20px;
   left: 50%;
   position: absolute;
   transform: translateX(-50%)
 }
 .slider--dot button{
   width: 15px;
   height: 15px;
   border-radius: 50%;
   border: 1px solid rgba(255, 255, 255, 0.5);
   margin: 0 5px;
   background: rgba(255, 255, 255, 0.5);
   transform: scale(1);
   cursor: pointer;
 }
 .slider--dot button.active{
   background: rgba(255, 255, 255, 1);
 }
 .next--slider{
   position: absolute;
   right: 30px;
   top: 50%;
   transform: translateY(-50%);
 }
 .next--slider i,
 .previous--slider i{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 .previous--slider{
   position: absolute;
   left: 30px;
   top: 50%;
   transform: translateY(-50%);
 }
 .slider--btn button{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: 1px solid rgba(255, 255, 255, 0.5);
   background: rgba(255, 255, 255, 0.5);
   cursor: pointer;
 }
 .slider--btn button:hover {
   box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 20px;
   transform: scale(1.05);
 }
 .slider--btn button:hover i {
   color: var(--secondary-color);
 }